{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:50px">
    <h2 class="text-center">Contact US</h2>
    <br><br>
    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-sm-6 mydivstyle">
                <h4><i class="fas fa-phone-square"></i> Contact </h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+91 9123238490" >+91 9123238490</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-envelope"></i> Email Us </h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto:Kavya238490@gmail.com" >Kavya238490@gmail.com</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> Office Address </h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Annie Besant Road+Patna+Bihar" target="_blank" >Annie Besant Road, Patna</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> Office Hours </h4>
            <p class="mt-3 font-weight-bold text-danger">9:00 AM to 7:00 PM</p>
        </div>
    </div>
</div>

{% endblock %}